.line-height {
    line-height: 2em;
}

p {
    opacity: 75%;
}

section {
    background-color: #2B2B2B;
    border: 2px solid #fff;
    padding: 50px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button,
.fa-solid,
.fa-xmark {
    border: none;
}