.correct-letter, .incorrect-letter, .yellow-letter {
  font-size: 20px; /* Ajuster la taille de la police */
  padding: 0.5em; /* Ajuster le rembourrage */
  box-sizing: border-box; /* Inclure la bordure et le rembourrage dans la largeur/hauteur totale */
}

.correct-letter {
  background-color: red;
  border: 1px solid #fff;
}

.incorrect-letter {
  background-color: blue;
  border: 1px solid #fff;
}

.yellow-letter {
  color: yellow;
}

/* Reste du CSS inchangé */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  border-radius: 70%;
  background-color: #2B2B2B;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
  border: 1px solid #fff;
}

.letters {
  width: 50px;
  height: 50px;
  font-size: 24px;
  padding: 5px;
}

p {
  text-align: center;
}

.keyboard {
  width: 800px;
}

.submit {
  width: 100%;
  border-radius: 0px;
  border-radius: 40px;
  background-color: #2B2B2B;
  border: 1px solid #fff;
  font-size: 16px;
  padding: 15px;
}

.btn-wrapper {
  display: flex;
}