form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

button {

    border-radius: 70%;
    background-color: #48abe0;
    color: white;
    border: none;
    padding: 5px;
    font-size: 24px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: 10px;
}

p {
    text-align: center;
}

.result {
    color: red;
    font-weight: bold;
}

.keyboard {
    width: 800px;
}

.content-wrapper {
    height: 30vh;
}

.border {
    border: 1px solid #fff;
    color: #fff;
    font-size: 2em;
}

.submit {
    width: 20%;
    border-radius: 40px;
    background-color: #2B2B2B;
    border: 1px solid #fff;
    font-size: 14px
    ;
}

.red-text {
    background-color: red;
}


.blue {
    background-color: blue;
}

.square-red {
    border: 2px solid red;
  }
  
  .circle-yellow {
    border: 2px solid yellow;
    border-radius: 50%;
  }
  
  .blue {
    background-color: blue;
    color: white;
  }

  .correct {background-color: red;}
  