<div>
  <p style="color: white;"> {{wordToGuess}}</p>
  
  <form [formGroup]="motusForm" (ngSubmit)="onSubmit()">
    <div class="keyboard">
      <table>
        <tr>
          <td *ngFor="let guessedLetter of guessedLetters; let i = index">
            <span  [ngClass]="{
              'correct-letter': isLetterCorrect(guessedLetter),
              'incorrect-letter': !isLetterCorrect(guessedLetter),
              'yellow-letter': isLetterIncorrectButPresent(guessedLetter, i)
            }">
              {{ isLetterCorrect(guessedLetter) ? guessedLetter : guessedLetter }}
            </span>
          </td>
        </tr>
      </table>
      
      <!-- Display the second table only if the first table has more than 9 characters -->
      <table *ngIf="guessedLetters.length >= 9">
        <tr>
          <td *ngFor="let guessedLetter of guessedLetters; let i = index">
            <span  [ngClass]="{
              'correct-letter': isLetterCorrect(guessedLetter),
              'incorrect-letter': !isLetterCorrect(guessedLetter),
              'yellow-letter': isLetterIncorrectButPresent(guessedLetter, i)
            }">
              {{ isLetterCorrect(guessedLetter) ? guessedLetter : guessedLetter }}
            </span>
          </td>
        </tr>
      </table>

      <button class="letters" *ngFor="let letter of alphabet" (click)="addLetter(letter)" [disabled]="isLetterChosen(letter)">{{ letter }}</button>
      
      <div *ngIf="guessedLetters.length > 9">
        <table>
          <tr>
            <td *ngFor="let guessedLetter of guessedLetters.slice(9); let i = index">
              <span [ngClass]="{
                'correct-letter': isLetterCorrect(guessedLetter),
                'incorrect-letter': !isLetterCorrect(guessedLetter),
                'yellow-letter': isLetterIncorrectButPresent(guessedLetter, i + 9)
              }">
                {{ isLetterCorrect(guessedLetter) ? guessedLetter : guessedLetter }}
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="btn-wrapper">
      <button class="submit" (click)="removeLastLetter()">SUPPRIMER</button>
      <button class="submit" type="submit">VALIDER</button>
    </div>
  </form>
</div>
